body {
  animation: colorChange 60s ease infinite;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 120px;
}
.material-icons {
  color: black;
}
#about {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  max-width: 300px;

  text-align: center;
  color: black;
}
#about h1 {
  color: white;
}
nav {
  padding-left: 20px;
  color: white;
}

header {
  display: flex;
  color: white;
  position: fixed;

  justify-content: space-between;

  width: 100%;
  background-color: black;

  padding: 14.5px;
}

#sidebar {
  position: fixed;
  top: 80.5px;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  z-index: 1;
}
#eachProject {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.project {
  padding: 64px;
  text-align: center;
  color: wheat;
}

.project h1 {
  width: 17.5rem;
  background-color: black;
  padding: 10px;
}
.project-title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
}

#contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 text-align: center;
}

@keyframes colorChange {
  0% {
    background-color: #971efc; /* Initial color */
  }
  30% {
    background-color: #6d1eb0; /* Color midway through animation */
  }
  60% {
    background-color: #f39c12; /* Final color */
  }
  100% {
    background-color: #971efc;
  }
}
